<script charset="utf-8">
  $(document).ready(function(){
    ModelFindrApp.initialize();
  });

  ModelFindrApp.currentUserId = <%= current_user.id %>;

  ModelFindrApp.isGuest = <%= current_user.guest %>;

  filepicker.setKey("Aj6UeHtuxTf2ro7P6it1Ez");
</script>

<script>
    ModelFindrApp.USERNAMES = JSON.parse('<%= User.pluck(:username).to_json.html_safe %>');
</script>

<div id="main">
</div>
