<script charset="utf-8">
  $(document).ready(function(){
    ModelFindrApp.initialize();
  });

  ModelFindrApp.currentUserId = <%= current_user.id %> 

  filepicker.setKey("Aj6UeHtuxTf2ro7P6it1Ez");
</script>

<div id="main">
</div>
