<form id="new-session-form" action="<%= session_url %>" method="post">
  <img src="https://www.filepicker.io/api/file/q49noi2xQdqHLKhRIxxo">
  <br>
  <h6>Sign In</h6>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Email
    <br>
    <input class="user-email" type="text" name="user[email]" value="<%= @user.email %>">
  </label><br>

  <label>
    Password
    <br>
    <input class="user-password" type="password" name="user[password]">
  </label><br><br>

  <input class="submit" type="submit" value="Log In">
  <br>
  <a class="switch-link" href="/users/new">Sign Up</a>
  <br><br>
  <button class="guest">Guest Login</button>
  <br><br>
  <%= button_to "About", about_url, method: :get, class: "about" %>

  <script charset="utf-8">
    $('.guest').on("click", function(event) {
      event.preventDefault();
      $('.user-email').val("guest19");
      $('.user-password').val("password");
      $('input[type=submit]').click();
    })
  </script>
</form>
