<form id="new-session-form" action="<%= session_url %>" method="post">
  <img src="https://www.filepicker.io/api/file/q49noi2xQdqHLKhRIxxo">
  <br>
  <h1>Sign In</h1>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Email
    <br>
    <input type="text" name="user[email]">
  </label>

  <label>
    Password
    <br>
    <input type="password" name="user[password]">
  </label><br><br>

  <input type="submit" value="Log In">
  <br><br>
  <button class="guest">Guest Login</button>
</form>
