<div class="explore-imgs">
  <div class="city-exp-header">
    <button class="explore-users">People</button><h5>Explore</h5><button class="explore-imgs">Photos</button>
  </div>

  <div class="imgs">
  </div>
</div>
