#edit-btn1, #edit-btn2 {
  float: right;
  margin-top: 0px;
}

.upload-btn {
  width: 180px;
  margin-left: 115px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.user-details {
  text-align: center;
}
