#edit-btn1, #edit-btn2 {
  float: right;
  margin-top: 0px;
}

.upload-btn {
  width: 225px;
  margin-left: 175px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.details {
  width: 75px;
  margin: 10px auto;
  border-left: none;
  border-bottom: 5px solid #11b8cc;
}

.user-details {
  text-align: center;
}
