// Place all the styles related to the UserViews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#avatar-img {
  border: 1px solid;
  border-radius: 2%;
}

#sidebar {
  float: left;
  padding-right: 20px;
  border-right: 1px solid;
  margin-right: 30px;
  height: 525px;
}

#sidebar h1 {
  border-bottom: 1px solid;
}

.user-general-info {
  margin-left: 5px;
  border-bottom: 1px solid;
}

.user-general-info li {
  padding-bottom: 15px;
  font-size: 20px;
}

.user-general-info button {
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}

#user-portfolio img {
  width: 200px;
  max-height: 150px;
  margin-bottom: 5px;
  // float: left
}

#about-me {
  margin: 30px 0px;
  border-bottom: 1px solid;
  padding-bottom: 30px
}
