.user-index {
  width: 80%;
  margin: auto;
}

.user-item {
  width: 300px;
  text-align: center;
  margin: 10px;
  background: #F0F8FF;
  border-radius: 5%;
  float: left;
  float: top;
}

.user-avatar-img {
  background-color: black;
  overflow: auto;
  color: #11b8cc;
}

.user-avatar-img img {
  width: 93%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
