.user-index {
  width: 80%;
  margin: auto;
}

.user-item {
  width: 300px;
  text-align: center;
  margin: 10px;
  background: white;
  border-radius: 5%;
  float: left;
  float: top;
}

.user-avatar-img {
  background-color: black;
  overflow: auto;
}

.user-avatar-img img {
  width: 93%;
  margin: 10px;
}
