<% var headerString = ModelFindrApp.currentUserId === user.id ? "My Portfolio" : user.get('username') + "'s Portfolio" %>

<h1><%= headerString %></h1>
<% if (ModelFindrApp.currentUserId === parseInt(user.id)) { %>
  <button class="upload-btn">Upload Photo</button>
<% } %>
<button class="profile-btn">Back to Profile</button>

<div class="users-imgs">
</div>
