<div id="sidebar">
  <img src="https://s-media-cache-ak0.pinimg.com/236x/02/34/57/02345789cc994764527256f29de1260f.jpg"/>
  <br>
  <h2>Details</h2>
</div>

<div class="user-general-info">
  <h1><%= user.get('username') %></h1>
  <ul id="user-gen-info-list">
  </ul>
</div>
