<div id="sidebar">
  <img id="avatar-img" src="<%= user.get('avatar_img') %>"/>
  <br>
  <h2>Details</h2>
</div>

<div class="user-general-info">
  <h1><%= user.get('username') %></h1>
  <ul id="user-gen-info-list">
  </ul>
</div>
