<form id="new-user-form" action="<%= users_url %>" method="post">
  <h1>Sign Up</h1>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Email<br>
    <input type="text" name="user[email]">
  </label><br>

  <label>
    Username<br>
    <input type="text" name="user[username]">
  </label><br>

  <label>
    Password<br>
    <input type="password" name="user[password]">
  </label><br>

  <label>
    Skill Type<br>
    <select name="user[skill_type]">
      <option value="Photographer">Photographer</option>
      <option value="Model">Model</option>
    </select>
  </label><br>

  <label>
    Gender<br>
    <select name="user[gender]">
      <option value="Male">M</option>
      <option value="Female">F</option>
    </select>
  </label><br>

  <label>
    City<br>
    <select name="user[city]">
      <option value="San Leandro, CA">San Leandro, CA</option>
    </select>
  </label><br>

  <input type="submit" value="Create Account">
  <br><br>
  <button class="guest">Guest Login</button>
</form>
