<div class="city-users">
  <div class="city-exp-header">
    <button class="city-users">People</button><h5>Your City</h5><button class="city-imgs">Photos</button>
  </div>

  <div class="users">
  </div>
</div>
