/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require justifiedGallery.min
 *= require ekko-lightbox
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Pacifico);



 html, body, div, span, object, iframe,
 p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 h1, h2, h3, h4, h5, h6, b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
   margin:0;
   padding:0;
   border:0;
   outline:0;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
 }

 h1, h2, h3, h4 {
   font-size: 20px;
   border-left: 5px solid #11b8cc;
   padding: 5px;
 }

 h5 {
   font-family: "Pacifico";
   font-size: 50px;
   margin: 20px;
   border-bottom: 5px solid;
   border-color: #11b8cc;
   text-align: center;
   display: inline-block;
 }

 h6 {
   font-size: 40px;
   font-family: 'Gill Sans';
   margin-bottom: 5px;
 }

#main {
  overflow: auto;
  margin: auto;
  margin-top: 0px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #eee;
  min-height: 900px;
}

 #main li {
   list-style: none;
 }

body {
  background-image: url("https://www.filepicker.io/api/file/WgYovFyqRKWQ8fK3gdcF");
  background-size: 100%;
}

button, .submit {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #11b8cc;

  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;

  top:0; right:0; bottom:0; left:0;

  padding: 10px 5;
  padding-top: 10px;
  width: 180px;
  height: 50px;

  background: #11b8cc;
  border: 1px solid #11b8cc;
  color: #FFF;

  transition: all 0.5s;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #11b8cc;
}

button:hover, button:active, .submit:hover, .submit:active, button:focus {
  text-decoration: none;
  color: #11b8cc;
  background: #FFF;
  box-shadow: 0em 1em 2em black;
}
