#sign-out {
  float: right;
  padding-right: 50px;
}

#navbar {
  border-bottom: 1px solid #11b8cc;
  margin-bottom: 0px;
}

.navbar {
  background: black;
  float: top;
  height: 40px;
  border-bottom: 10px solid white;
  color: white;
}

.navbar-list li:first-child {
  font-size: 25px;
  padding-top: 5px;
}

.navbar-list li {
  float: left;
  list-style: none;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  transition: color 500ms;
  cursor: pointer;
}

.navbar-list li:hover {
  color: #11b8cc;
  cursor: pointer;
  text-shadow: 0 0 0.4em #11b8cc;
}

#your-city {
  padding-left: 50px;
}

#logo {
  padding-right: 10px;
  border-right: 1px solid;
  margin-right: 10px;
  color: cyan-blue;
}

#profile {
  padding-left: 50px;
}

#search-btn {
  height: 34px;
  padding-top: 0;
  width: 120px;
  font-size: 23px;
  text-transform: lowercase;
}

#search-bar {
  position: absolute;
  right: 200px;
  padding-bottom: 5px;
  top: -3px;
}

#searchTextField, #searchTextField:hover {
  color: black;
  font-size: 20px;
  width: 300px;
}
