#sign-out {
  float: right;
  padding-right: 50px;
}

.navbar {
  background: white;
  float: top;
  height: 40px;
  border-bottom: 2px solid;
}

.navbar-list li {
  float: left;
  list-style: none;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px
}

#your-city {
  padding-left: 50px;
}

#logo {
  padding-right: 10px;
  border-right: 1px solid;
  margin-right: 10px;
}

#profile {
  padding-left: 50px;
}
