#sign-out {
  float: right;
  padding-right: 50px;
}

.navbar {
  float: top;
  height: 40px;
  clear: both;
  border-bottom: 2px solid;
}

.navbar-list li {
  float: left;
  list-style: none;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 20px
}

#your-city {
  padding-left: 100px;
}

#logo {
  padding-right: 100px;
}

#upload {
  padding-left: 100px;
}
