// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-session-form {
  overflow: auto;
  width: 500px;
  height: 100vh;
  background: white;
  text-align: center;
  font-size: 20px;
  box-shadow: 0em 0em 5em #11b8cc;
}

#new-session-form img {
  margin-left: 10px;
}

.guest, .about {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #CC6600;

  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;

  top:0; right:0; bottom:0; left:0;

  padding: 10px 5;
  padding-top: 10px;
  width: 180px;
  height: 50px;

  background: #CC6600;
  border: 1px solid #CC6600;
  color: #FFF;

  transition: all 0.5s;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #CC6600;
}

.guest:hover, .guest:active, .guest:focus, .about:hover {
  text-decoration: none;
  color: #CC6600;
  background: #FFF;
  box-shadow: 0em 1em 2em black;
}

.form-container {
  // width: 500px;
  // margin-left: 50px;
  padding-left: 50px;
  width: 30%;
  // float: left;
  display: inline-block;
  box-sizing: border-box;
  z-index: 75;
}

.about-container {
  // width: 700px;
  height: 100%;
  width: 65%;
  // margin: 0 auto;
  // float: left;
  overflow-x: scroll;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
}

.about-section {
  display: none;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  // width: 40%;
  // top: 10%;
  // right: 375px;
  position: absolute;
  width: 600px;
  height: 650px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -325px;
  background-color: #eee;
  box-shadow: 0em 0em 5em #11b8cc;

  .fancy-text {
    font-family: "Pacifico";
    font-size: 30px;
  }

  .fancy-text-name {
    font-family: "Pacifico";
    font-size: 18px;
  }

  .description-text {
    font-size: 25px;
    border-bottom: 1px solid;
  }
}

html, body {
  height: 100%;
}
