// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-session-form {
  overflow: hidden;
  width: 500px;
  height: 100vh;
  margin-left: 50px;
  background: white;
  text-align: center;
  font-size: 20px;
}

#new-session-form img {
  margin-left: 10px;
}

.guest {
  margin-bottom: 20px;
  background-color: #CC6600;
}

.guest:hover, .guest:active, .guest:focus {
  text-decoration: none;
  color: #CC6600;
  background: #FFF;
  box-shadow: 0em 1em 2em black;
}
