#new-user-form {
  overflow: hidden;
  width: 500px;
  margin-left: 50px;
  background: white;
  text-align: center;
  font-size: 30px;
  height: 100%;
}

#new-user-form img {
  margin-left: 10px;
}

.guest {
  margin-bottom: 20px;
}
