#new-user-form {
  overflow: hidden;
  width: 500px;
  margin-left: 50px;
  background: white;
  text-align: center;
  font-size: 20px;
  height: 100vh;
}

#new-user-form img {
  margin-left: 10px;
}

.guest {
  margin-bottom: 20px;
}

.switch-link {
  color: #11b8cc;
  margin-bottom: 15px;
}
