#new-user-form {
  overflow: auto;
  width: 500px;
  background: white;
  text-align: center;
  font-size: 20px;
  height: 100vh;
  box-shadow: 0em 0em 5em #11b8cc;
}

#new-user-form img {
  margin-left: 10px;
}

.guest {
  margin-bottom: 20px;
}

.switch-link {
  color: #11b8cc;
  margin-bottom: 15px;
}

.error-box {
  z-index: 50;
  transition: all 3s;
  width: 500px;
  background-color: #66CCFF;
}
