<h6 class='no-results-header'>Sorry!</h6>

<p class='no-results-text'>
  Nothing found for this city. Either there's no one in this city or you misspelled something.<br>
  Try using our suggested results.
</p>
