<div class="search-users">
  <div class="search-header">
    <button class="search-users">People</button><h5><%= city %></h5><button class="search-imgs">Photos</button>
  </div>

  <div class="users">
  </div>
</div>
