<ul class='navbar-list'>
  <li id='logo'>model findr</li>
  <li id="explore">Explore</li>
  <li id="your-city">Your City</li>
  <li id="profile">Profile</li>
  <li id="search-bar">
    <form>
      Search By:
      <select id="city-or-users" style="width: 75px;">
        <option selected value="city">City</option>
        <option value="users">Person</option>
      </select>
      <input type="text" name="city" id="searchTextField" value="" placeholder=" i.e. San Francisco, CA, United States">
      <button id="search-btn">Search</button>
    </form>
  </li>
  <li id="sign-out">Sign Out</li>
</ul>
